<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input type="text" name="title" minlength="3"
             [ngModel]="post?.title"
             matInput required #title="ngModel">
      <mat-error *ngIf="title.invalid">Enter post title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput
                [ngModel]="post?.content"
                name="content" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Enter post content</mat-error>
    </mat-form-field>
    <button
      color="accent"
      mat-raised-button type="submit">Save Post
    </button>
  </form>
</mat-card>

